@font-face {
  font-family: $primary-font;
  src: $primary-font-url;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: $secondary-font-light;
  src: $secondary-font-light-url;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: $secondary-font-regular;
  src: $secondary-font-regular-url;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: $secondary-font-bold;
  src: $secondary-font-regular-url;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: $secondary-font-black;
  src: $secondary-font-regular-url;
  font-weight: 900;
  font-style: normal;
}