<!-- views/partials/common/footer.ejs -->

<!--footer-->
<footer>
    <div class="row justify-content-between footer">
        <div class="col-lg-4 col-md-12 copy-right d-flex">
            © Copyright 2013
        </div>
        <div class="col-lg-4 col-md-12 social-links">
            <ul>
                <li class="fa fa-facebook"></li>
                <li class="fa fa-google-plus"></li>
                <li class="fa fa-twitter"></li>
                <li class="fa fa-linkedin"></li>
            </ul>
        </div>
    </div>
</footer>
<!--/.footer-->