<!-- views/partials/sections/main-slider.ejs -->

<div class="row">
    <div id="carouselExampleControls" class="carousel slide w-100 main-slider" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="fill slider">
                    <div class="slider-1"></div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="fill slider">
                    <div class="slider-2"></div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="fill slider">
                    <div class="slider-3"></div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="fill slider">
                    <div class="slider-4"></div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>