<!-- views/partials/sections/our-services.ejs -->

<div class="row section our-services">
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <h2>Our Services</h2>

                <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum. Duis mollis, non commodo
                    luctus,
                    nisi
                    erat porttitor ligula, eget lacinia odio sem nec elit. Fusce dapibus, tellus ac cursus commodo,
                    tortor
                    mauris condimentum nibh.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <div class="item-icon item-icon-design"></div>
                    <div class="item-details">
                        <h5>Custom Design</h5>

                        <p>Curabitur vestibulum eget mauris quis laoreet. Phasellus in quam laoreet, viverra lacus
                            ut,
                            ultrices velit.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <div class="item-icon item-icon-bulb"></div>
                    <div class="item-details">
                        <h5>Inovative Ideas</h5>

                        <p>Quisque luctus, quam eget molestie commodo, lacus purus cursus purus, nec rutrum tellus
                            dolor
                            id lorem.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <div class="item-icon item-icon-heart"></div>
                    <div class="item-details">
                        <h5>Love Is The Answer</h5>

                        <p>Nulla sed nunc et tortor luctus faucibus. Morbi at aliquet turpis, et consequat felis.
                            Quisque condimentum.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <div class="item-icon item-icon-responsive"></div>
                    <div class="item-details">
                        <h5>Responsive Layout</h5>

                        <p>Sed porttitor placerat rhoncus. In at nunc tellus. Maecenas blandit nunc ligula. Praesent
                            elit leo..</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <div class="item-icon item-icon-buble"></div>
                    <div class="item-details">
                        <h5>24 / 7 Support</h5>

                        <p>Vivamus vel quam lacinia, tincidunt dui non, vehicula nisi. Nulla a sem erat.
                            Pellentesque
                            egestas venenatis lorem .</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <div class="item-icon item-icon-star"></div>
                    <div class="item-details">
                        <h5>Feel Like A Star</h5>

                        <p>Quisque hendrerit purus dapibus, ornare nibh vitae, viverra nibh. Fusce vitae aliquam
                            tellus.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>