<!-- views/partials/sections/portfolio.ejs -->

<div class="row section portfolio">
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <h2>Portfolio</h2>

                <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec
                    elit.</p>

                <div class="btn-panel" id="portfolioBtnPanel">
                    <button class="btn-line-def" id="all">All</button>
                    <button class="btn-line-def" id="web">Web Design</button>
                    <button class="btn-line-def" id="graphic">Graphic Design</button>
                    <button class="btn-line-def" id="art">Artwork</button>
                </div>
            </div>
        </div>
        <div class="row img-section" id="gallery">
            <div class="col-6 col-md-3 col-sm-3 web">
                <img src="img/portfolio/port-1.jpg">
            </div>
            <div class="col-6 col-md-3 col-sm-3 graphic">
                <img src="img/portfolio/port-2.jpg">
            </div>
            <div class="col-6 col-md-3 col-sm-3 art">
                <img src="img/portfolio/port-3.jpg">
            </div>
            <div class="col-6 col-md-3 col-sm-3 web">
                <img src="img/portfolio/port-4.jpg">
            </div>
            <div class="col-6 col-md-3 col-sm-3 graphic">
                <img src="img/portfolio/port-5.jpg">
            </div>
            <div class="col-6 col-md-3 col-sm-3 art">
                <img src="img/portfolio/port-6.jpg">
            </div>
            <div class="col-6 col-md-3 col-sm-3 web">
                <img src="img/portfolio/port-7.jpg">
            </div>
            <div class="col-6 col-md-3 col-sm-3 graphic">
                <img src="img/portfolio/port-8.jpg">
            </div>
            <div class="col-6 col-md-3 col-sm-3 art">
                <img src="img/portfolio/port-9.jpg">
            </div>
            <div class="col-6 col-md-3 col-sm-3 web">
                <img src="img/portfolio/port-10.jpg">
            </div>
            <div class="col-6 col-md-3 col-sm-3 graphic">
                <img src="img/portfolio/port-11.jpg">
            </div>
            <div class="col-6 col-md-3 col-sm-3 art">
                <img src="img/portfolio/port-12.jpg">
            </div>
        </div>
    </div>
</div>